Faker==40.37.0
greenlet==3.5.5
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
packaging==26.3
playwright==1.62.0
pluggy==1.6.0
pyee==13.0.1
python-dotenv==1.2.3
Pygments==2.21.0
pytest==9.1.1
pytest-html==4.2.0
pytest-metadata==3.1.1
typing_extensions==4.16.0
